{
    admin 0.0.0.0:2019 {
        origins localhost:2019 127.0.0.1:2019 0.0.0.0:2019
    }
    acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

proxmox.lan.{$DOMAIN} {
    @denied not client_ip private_ranges
    abort @denied

    reverse_proxy https://{$PROXMOX_IP}:{$PROXMOX_PORT} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pihole.lan.{$DOMAIN} {
    @denied not client_ip private_ranges
    abort @denied

    reverse_proxy {$PERIMETER_IP}:7989
}

auth.{$DOMAIN} {
    reverse_proxy {$PERIMETER_IP}:9000
}

mosaic.{$DOMAIN} {
        @da path /da /da/*
        redir /da /da/ 308
        handle @da {
                uri strip_prefix /da
                reverse_proxy https://192.168.0.231:49257 {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }
        handle /* {
                reverse_proxy https://192.168.0.231:49253 {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }
}

azurite.lan.{$DOMAIN} {
        reverse_proxy http://192.168.0.50:10000
}

hedgedoc.{$DOMAIN} {
        reverse_proxy http://192.168.0.5:3000
}
