{
    admin 0.0.0.0:2019 {
        origins localhost:2019 127.0.0.1:2019 0.0.0.0:2019
    }
    acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

proxmox.lan.{$DOMAIN} {
    @denied not client_ip private_ranges
    abort @denied

    reverse_proxy https://{$PROXMOX_IP}:{$PROXMOX_PORT} {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pihole.lan.{$DOMAIN} {
    @denied not client_ip private_ranges
    abort @denied

    route {
        reverse_proxy /outpost.goauthentik.io/* http://{$PERIMETER_IP}:9000

        forward_auth http://{$PERIMETER_IP}:9000 {
            uri /outpost.goauthentik.io/auth/caddy
            copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
            trusted_proxies private_ranges
        }

        reverse_proxy http://pihole:80
    }
}

auth.{$DOMAIN} {
    reverse_proxy {$PERIMETER_IP}:9000
}
