PG_PASS=change-me
PG_USER=authentik
PG_DB=authentik
AUTHENTIK_SECRET_KEY=change-me-generate-with-openssl-rand-hex-32
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2026.5.3
# COMPOSE_PORT_HTTP=9000
# COMPOSE_PORT_HTTPS=9443
